.userDetailsList.hide {
  display: none;
}

.userDetailsList.show {
  display: block;
}

.user {
  width: 400px;
  margin: 10px;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(241, 239, 239);
}
.userDetailsList {
  width: 400px;
}
.userDetail {
  width: 400px;
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
}
.userDetailsList img {
  margin: 5px 0;
}
.userDetail input {
  width: 250px;
}